
.users {
    padding: 10px;
}

.user {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 20px;
    padding: 5px;
}

.avatarBlock img {
    width: 150px;
    height: 150px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pageNumber {
    cursor: pointer;
    padding: 5px;
}
.pageNumber_selected {
    font-weight: 800;
}
