
.nav {
}

.nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.link {
    color: forestgreen;
}
.link_active {
    color: black;
}
