/*===============ProfileInfo====================*/

.main__imgBlock img {
    /*width: 100%;*/
    max-width: 100%;
}

.main__profile {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.main__profileImage img {
    width: 300px;
    height: 300px;
}
.main__info > p:not(:last-child) {
    margin-bottom: 10px;
}

