[class*='__container'] {
    width: 1384px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wrapper__container {
    display: grid;
    grid-template-areas:
            'header header'
            'sidebar main';
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 20px;
}


.content {
    grid-area: main;
    background-color: lightgrey;
}






